@page
@model WebRazorPage.Pages.ManagerOffice.Job.CreateFixEquipmentModel

@{
    ViewData["Title"] = "CreateFixEquipment";
}

<h1>CreateFixEquipment</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" readonly="true"/>
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.EmployeeId" class="control-label"></label>
                <select asp-for="Job.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Job.EquipmentId" class="control-label"></label>
                <select asp-for="Job.EquipmentId" class="form-control" asp-items="ViewBag.EquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Job.Title" class="control-label"></label>
                <input asp-for="Job.Title" class="form-control" />
                <span asp-validation-for="Job.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DescriptionJob" class="control-label"></label>
                <input asp-for="Job.DescriptionJob" class="form-control" />
                <span asp-validation-for="Job.DescriptionJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Deadline" class="control-label"></label>
                <input asp-for="Job.Deadline" class="form-control" />
                <span asp-validation-for="Job.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ImageEquip" class="control-label"></label>
                <input asp-for="Job.ImageEquip" class="form-control" />
                <span asp-validation-for="Job.ImageEquip" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
        }
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
