@page
@model WebRazorPage.Pages.ManagerOffice.Job.CreateModel

@{
    ViewData["Title"] = "Create";
    var role = HttpContext.Session.GetString("ROLE");
}

<div class="d-flex justify-content-between">
    <div> Hi, @Model.Account.Username. You are @Model.Account.Role</div>
    <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="numNotifications">
            Dropstart
        </button>
        <ul id="listNotifications" class="dropdown-menu">
        </ul>
    </div>
</div>

<hr />

<h1>Create Resource</h1>

<h4>Job </h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.AccountId" class="control-label"></label>
                <input id="accountIdInput" asp-for="Account.AccountId" class="form-control" readonly="true" />
                <span asp-validation-for="Account.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.EmployeeId" class="control-label"></label>
            <select id="employeeIdInput" asp-for="Job.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Job.Title" class="control-label"></label>
            <input id="titleInput" asp-for="Job.Title" class="form-control" />
                <span asp-validation-for="Job.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.DescriptionJob" class="control-label"></label>
                <input id="descriptionJobInput" asp-for="Job.DescriptionJob" class="form-control" />
                <span asp-validation-for="Job.DescriptionJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Deadline" class="control-label"></label>
                <input id="deadlineInput" asp-for="Job.Deadline" class="form-control" />
                <span asp-validation-for="Job.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.NameResource" class="control-label"></label>
                <input id="nameResourceInput" asp-for="Job.NameResource" class="form-control" />
                <span asp-validation-for="Job.NameResource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Description" class="control-label"></label>
            <input id="descriptionInput" asp-for="Job.Description" class="form-control" />
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TotalQuantity" class="control-label"></label>
            <input id="totalQuantityInput" asp-for="Job.TotalQuantity" class="form-control" />
                <span asp-validation-for="Job.TotalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Size" class="control-label"></label>
                <input id="sizeInput" asp-for="Job.Size" class="form-control" />
                <span asp-validation-for="Job.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Image" class="control-label"></label>
                <input id="imageInput" asp-for="Job.Image" class="form-control" />
                <span asp-validation-for="Job.Image" class="text-danger"></span>
            </div>
            
            < <div class="form-group mt-3 gap-3 d-flex">
                <a asp-page="Index" class="btn btn-outline-dark">Back to List</a>
            <button id="createResourceTaskButton" class="btn btn-dark"> Create </button>
            </div>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p class="alert alert-danger" role="alert">@ViewData["Message"]</p>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
