@page
@model WebRazorPage.Pages.ManagerOffice.Equipment.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Equipment.EquipmentId" />
            <div class="form-group">
                <label asp-for="Equipment.Status" class="control-label"></label>
                <input asp-for="Equipment.Status" class="form-control" />
                <span asp-validation-for="Equipment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.Location" class="control-label"></label>
                <input asp-for="Equipment.Location" class="form-control" />
                <span asp-validation-for="Equipment.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.CreatedAt" class="control-label"></label>
                <input asp-for="Equipment.CreatedAt" class="form-control" />
                <span asp-validation-for="Equipment.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.ImageEquip" class="control-label"></label>
                <input asp-for="Equipment.ImageEquip" class="form-control" />
                <span asp-validation-for="Equipment.ImageEquip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment.ResourcesId" class="control-label"></label>
                <select asp-for="Equipment.ResourcesId" class="form-control" asp-items="ViewBag.ResourcesId"></select>
                <span asp-validation-for="Equipment.ResourcesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
