@page
@model WebRazorPage.Pages.Home.IndexModel
@{
}

    <div> Hi, @Model.Account.Username. You are @Model.Account.Role</div>

<hr/>
@if (@Model.Account.Role == "MANAGER_OFFICE"){
    <div class="d-flex gap-3">
        <form method="post">
            <button asp-page-handler="SignOut" type="submit" class="btn btn-outline-dark"> Sign Out </button>
        </form>
        <a href="/Feedbacks" class="btn btn-dark"> Feedbacks </a>
        <a href="Job" class="btn btn-outline-dark"> Jobs </a>
        <a href="/Manage/Resource" class="btn btn-dark"> Resources </a>
        <a href="/Manage/Equipment" class="btn btn-outline-dark"> Equipments </a>
        <a href="/Manage/Accounts" class="btn btn-dark"> Accounts </a>
    </div>
} else if (@Model.Account.Role == "STAFF"){
    <div class="mt-3 d-flex gap-3">
        <form method="post">
        <button asp-page-handler="SignOut" class="btn btn-dark"> Sign Out </button>
        </form>
        <a href="/Feedbacks" class="btn btn-outline-dark"> Feedbacks </a>
        <a href="Job" class="btn btn-dark"> Jobs </a>
    </div>
} else {
    <div class="mt-3 gap-3 d-flex">
    <form method="post">
        <button asp-page-handler="SignOut" type="submit" class="btn btn-outline-dark"> Sign Out </button>
    </form>
    <a href="/Feedbacks" class="btn btn-dark"> Feedbacks </a>
    </div>
}